$schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json
name: current
endpoint_name: vllm-private
model: "azureml:Qwen3-8B:1"
model_mount_path: /models
environment_variables:
  MODEL: "/models/Qwen3-8B"
  TRANSFORMERS_OFFLINE: "1"
  HF_DATASETS_OFFLINE: "1"
environment:
  image: <ACR IMAGE ID>
  inference_config:
    liveness_route:
      port: 8000
      path: /ping 
    readiness_route:
      port: 8000
      path: /health
    scoring_route:
      port: 8000
      path: /
instance_type: Standard_NC24ads_A100_v4
instance_count: 1
request_settings:
    request_timeout_ms: 60000
    max_concurrent_requests_per_instance: 16 
liveness_probe:
  initial_delay: 10
  period: 10
  timeout: 2
  success_threshold: 1
  failure_threshold: 30
readiness_probe:
  initial_delay: 120
  period: 10
  timeout: 2
  success_threshold: 1
  failure_threshold: 30
egress_public_network_access: disabled
